################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Disser/obj
/DisserMVC/wwwroot
/DisserMVC/obj
/DisserMVC/bin/Debug/netcoreapp2.0
/.vs
/Disser/bin/Debug/netcoreapp2.0
/DisserMVC/Data/Migrations
/DisserMVC/bin/Debug/netcoreapp2.2
/StateFlowFramework/bin/Debug/netstandard2.0
/StateFlowFramework/obj
/TestApplication/bin/Debug
/TestApplication/obj
/TestApplication/wwwroot
