@{
    ViewData["Title"] = "Home Page";
}
<Br>
<Br>

<h3>Базовые вопросы по .NET Framework</h3>
<Br>
<Br>
<form>
    <label>
        Языки программирования .NET Framework
    </label>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="CS" id="q1">
        <label class="form-check-label" for="q1">
            C#
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="VB" id="q2">
        <label class="form-check-label" for="q2">
            Visual Basic
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="Java" id="q3">
        <label class="form-check-label" for="q3">
            Java
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="Python" id="q4">
        <label class="form-check-label" for="q4">
            Python
        </label>
    </div>
    <Br>
    <label>Среда исполнения .NET Framework</label>
    <div class="form-check">
        <input class="form-check-input" type="radio" value="CS" id="q5">
        <label class="form-check-label" for="q5">
            CLR
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" value="VB" id="q6">
        <label class="form-check-label" for="q6">
            Java Runtime
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" value="Java" id="q7">
        <label class="form-check-label" for="q7">
            Машинный код
        </label>
    </div>
    <Br>
    <div class="form-group">
        <label for="q8">Опишите лямбда выражения</label>
        <textarea class="form-control" id="q8" rows="5"></textarea>
    </div>


    <button type="submit" class="btn btn-primary">Назад</button>
    <button type="submit" class="btn btn-primary">Следующие вопросы</button>

</form>