@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Страница один</title>
</head>
<body>
    <b>Страница ноль</b><Br>
    Пройдите тест бла бла бла
    <a asp-area="" asp-controller="Home" asp-action="Test" asp-route-flow="next">Next</a>
</body>
</html>