@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Страница один</title>
</head>
<body>
    <b>Страница два</b><Br>
    <p>
        <b>Вопрос 1</b><Br>
        <input type="radio" name="browser" value="ie"> Один<Br>
        <input type="radio" name="browser" value="opera"> Тор<Br>
        <input type="radio" name="browser" value="firefox"> Локи<Br>
    </p>
    <p>
        <b>Вопрос 2</b><Br>
        <input type="radio" name="browser" value="ie"> Дионис<Br>
        <input type="radio" name="browser" value="opera"> Гера<Br>
        <input type="radio" name="browser" value="firefox"> Зевс<Br>
    </p>
    <p>
        <b>Вопрос 3</b><Br>
        <input type="radio" name="browser" value="ie">Омон Ра<Br>
        <input type="radio" name="browser" value="opera"> Гор<Br>
        <input type="radio" name="browser" value="firefox"> Гер<Br>
    </p>
    <p>
        <b>Вопрос 4</b><Br>
        <input type="radio" name="browser" value="ie"> Заратустра<Br>
        <input type="radio" name="browser" value="opera"> Аллах<Br>
        <input type="radio" name="browser" value="firefox"> Иисус<Br>
    </p>
    <a asp-area="" asp-controller="Home" asp-action="Test" asp-route-id="next">Next</a>
</body>
</html>